.navbar {
	background: rgba(0, 0, 0, 0.22);
	padding: 0px 8px 8px 8px;
}

.navbar,
.user-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.breadcrumb {
	flex-direction: column;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: "-";
}

.breadcrumb-item.active {
	color: #b87333;
}

.logo {
	width: 48px;
}

.title-bar h1 {
	font-family: 'Hello Tropical', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title-bar {
	padding: 16px 8px 8px 0;
	margin: 0 auto;
	text-align: center;
}

.title-bar h1 {
	font-size: 32px;
	padding: 0;
	margin: 0;
	line-height: 18px;
	color: white;
}

.title-bar .aum {
	width: 16px;
}

.user-bar h4 {
	display: none;
}

.user-bar img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

@media (min-width: 768px) {
	.title-bar {
		padding: 16px;
	}

	.user-bar {
		margin-left: auto;
	}

	.user-bar img {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.user-bar h4 {
		padding: 8px;
		font-size: 14px;
		font-weight: 100;
		color: white;
	}
}
