#page {
	&--profile {
		.flex-container {
			flex-direction: column;
		}

		.edit-user {
			display: flex;

			margin: 32px 0;

			img {
				border-radius: 50%;
				width: 120px;
				height: 120px;
			}
		}

		form {
			margin-left: 16px;

			input,
			.btn {
				margin: 0 0 8px 0;
			}
		}
	}
}
