.navbar {
	background: rgba(0, 0, 0, 0.22);

	.container {
		padding: 0 15px;
	}
}

.navbar .container,
.user-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.logo {
	width: 48px;
}

.title-bar {
	padding: 16px 8px 8px 0;
	margin: 0 auto;
	text-align: center;
	color: white;

	h1,
	h2 {
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 28px;
		line-height: 24px;
	}

	h2 {
		font-size: 14px;
		font-family: unset;
		font-weight: 200;
	}
}

.user-bar {
	align-items: flex-start;
	justify-content: flex-end;
}

.info-container {
	display: none;
}

.user-bar img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

@media (min-width: 425px) {
	.title-bar h1 {
		font-size: 28px;
		line-height: 24px;
	}
}

@media (min-width: 768px) {
	.navbar {
		padding: 0;

		.container {
			justify-content: flex-start;
			padding: 16px;
		}

		.logo {
			width: 54px;
		}

		.title-bar {
			padding: 0 0 0 16px;
			margin: 0;
			text-align: left;
		}

		.title-bar {
			h1 {
				font-size: 38px;
				line-height: 34px;
			}

			h2 {
				font-size: 14px;
			}
		}

		.user-bar {
			margin-left: auto;
		}

		.user-bar img {
			width: 54px;
			height: 54px;
			border-radius: 27px;
		}

		.info-container {
			display: block;
			padding-left: 8px;
		}

		.user-bar h4 {
			color: white;
			font-weight: 100;
			font-size: 24px;
			margin-bottom: 0;
		}
	}
}
