#page {
	&--index {
		.jumbotron {
			padding-top: 16px;

			p {
				&.lead {
					font-size: 1rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#page {
		&--index {
			h1 {
				font-size: 54px;
			}

			p {
				&.lead {
					font-size: 1.25rem;
				}
			}
		}
	}
}
