$min-width: 100%;

.sidebar {
	margin-right: 8px;

	h2 {
		font-size: 28px;
	}

	.modules-container {
		.modules-title {
			display: flex;
			align-items: center;
			justify-content: space-between;

			i {
				padding: 0 16px;
				font-size: 24px;
			}
		}
	}

	.module-list {
		padding-bottom: 8px;
		margin-bottom: 8px;

		.module {
			margin: 4px 0;

			&--text {
				display: flex;
				align-items: center;

				span {
					margin: 0 8px;
					line-height: 16px;
				}
			}

			.btn {
				padding: 8px;
				min-width: $min-width;
			}
		}
	}
}

@media (min-width: 768px) {
	.sidebar {
		.modules-container {
			border-bottom: none;

			.btn {
				outline: none;
			}
		}

		.module-list {
			.module {
				.btn {
					min-width: $min-width;
				}
			}
		}
	}
}
