$min-width: 100%;

.sidebar {
	margin-right: 8px;
	min-width: $min-width;

	h2 {
		font-size: 28px;
	}

	.module-list {
		.module {
			margin: 4px 0;

			&--text {
				display: flex;
				align-items: center;

				span {
					margin: 0 8px;
					line-height: 16px;
				}
			}

			.btn {
				padding: 8px;
				min-width: $min-width;
			}
		}
	}
}

@media (min-width: 768px) {
	$min-width: 180px;

	.sidebar {
		min-width: $min-width;

		.module-list {
			.module {
				.btn {
					min-width: $min-width;
				}
			}
		}
	}
}
