$min-width: 100%;

.sidebar {
	margin-right: 8px;
	min-width: $min-width;

	h2 {
		font-size: 20px;
	}

	ul {
		list-style: none;
		padding-left: 0;

		li {
			margin: 4px 0;

			.btn {
				min-width: $min-width;
			}
		}
	}
}

@media (min-width: 768px) {
	$min-width: 180px;

	.sidebar {
		min-width: $min-width;
		margin-right: 16px;

		ul {
			li {
				.btn {
					min-width: $min-width;
				}
			}
		}
	}
}
