@font-face {
	font-family: 'Hello Tropical';
	src: url('/static/fonts/HelloTropical.woff2') format('woff2'),
		url('/static/fonts/HelloTropical.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	background: url(/static/img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: transparent;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Hello Tropical";
	font-size: 200%;
}

.button-group .btn {
	margin: 2px !important;
}

.container.main {
	margin-top: 16px;
}

hr {
	width: 50px;
	height: 2px;
	margin: 8px 0;
	border: 0;

	&.primary {
		background: #007bff;
	}
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-container {
	background-color: white;
	padding: .75rem 1rem;
	border-radius: .25rem;
}

@media (min-width: 768px) {
	.flex-container,
	.card-container {
		flex-direction: row;
	}
}

.fullscreen {
	z-index: 9;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	&.white {
		background: white;
	}
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 0.3s;
}

.fade-exit {
	display: none;
}
